/*
note: GT America Mono is a licensed typeface, available from https://www.grillitype.com/typeface/gt-america
the font file is not included in this repository since I do not have distribution rights.
*/
@font-face { font-family: 'GT America Mono Regular'; src: url(GT-America-Mono-Regular.woff2) format('woff2'); }
* { font-family: "GT America Mono Regular", monospace; }
body { background: #0b1416; color: #48d594; margin: 0px; overflow: auto; font-size: 16px; }
h1 { font-size: 220%; margin-bottom: 0.1em; margin-top: 0; padding-top: 0; }
h2 { margin-bottom: 0; }
a { color: #48d594; }
#main { margin: 20px; display: inline-block; }
#controls { border: 1px solid #48d594; padding: 10px; margin-top: 1em; display: inline-block; }
#input_container { border: 1px solid #48d594; padding: 10px; margin-top: 1em; display: inline-block; }
#input_container button { margin-right: 8px; }
#input_container button:active { color: #0b1416; background: #48d594; }
#file_input { display: none; }

:root {
	--true-colour: #49d695;
	
	--false-colour-standard: #e86886;
	--false-colour-deuteranopia: #db4325;
	--false-colour: var(--false-colour-standard);
}

.subleaf_reg { margin-bottom: 2em; }
.leaf { margin-bottom: 4em; }
.description { font-size: 11pt; }
.diagram_container { margin-top: 0.5em; }
.diagram_span { white-space: pre; }
.bitfield { /* nothing as of yet */ }
.bit_default { color: #48d594; }
.bit_true { color: var(--true-colour); }
.bit_false { color: var(--false-colour); }
.bit_reserved { color: #778077; }
.diagram_hover { filter: brightness(150%) saturate(120%) drop-shadow(0px 0px 3px rgba(255,255,255,0.3)); }

button { background: #0b1416; color: #48d594; border: 1px solid #48d594; }
.button_inactive { background: #0b1416 !important;  color: #48d594 !important; }
.button_active { background: #48d594 !important; color: #0b1416 !important; }

textarea { background: #1b2426; color: #48d594; border: 1px solid #48d594; margin-bottom: 5px; }
#input_textarea { width: 600px; min-width: 450px; min-height: 150px; }
::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track { background: #2b3436; }
::-webkit-scrollbar-thumb { background: #38c584; }
::-webkit-scrollbar-corner { background: #1b2426; }
